spring:
  application:
    name: OrderService
  config:
    import: configserver:http://${CONFIG_SERVER_URL:localhost:8082}
  datasource:
    url: jdbc:mysql://${DB_URL:localhost:3306}/petshop_order?createDatabaseIfNotExist=true
    username: root
    password: root
    driverClassName: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: validate
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://dev-atfpp36qj24tzo8l.us.auth0.com/
  cloud:
    openfeign:
      circuitbreaker:
        enabled: true
  kafka:
    bootstrap-servers: ${KAFKA_URL:localhost:9092}
    producer:
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
server:
  port: 8084

springdoc:
  swagger-ui:
    path: /order/swagger-ui.html
  api-docs:
    path: /order/api-docs